.profile {
    width: 600px;
    margin: 100px auto;
    border-radius: 5px;
    padding: 5px;
    color: #ffffff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.profile-block {
    background-color: #01030a80;
    border-radius: 5px;
    padding-bottom: 1px;
}

.profile-info-d {
    background-color: #01030a8a;
    padding: 15px;
    margin: 15px;
    border-radius: 10px;
    border: 1px solid #424242be;
}

@media only screen and (max-width: 768px) {
    .profile {
        width: 90%;
        margin: 50px auto;
    }
}

@media only screen and (max-width: 480px) {
    .profile {
        width: 95%;
        margin: 30px auto;
    }
}

.fade-in {
    animation: fadeIn 0.5s ease-in-out forwards;
}

.hidden {
    opacity: 0; 
    transition: opacity 0.5s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}